.menu_main{
    margin-top: 20px;
}
.hr{
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 20px;
}
.menu_hr{
    width:70%;
    
}
.card{
    height: 350px;
    width: 250px;
    background-color: blanchedalmond;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.card_image img{
    height: 200px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu-heading{
    color:  rgb(200, 178, 151);;
}
.rating{
    
}
.details,.card_btm{
    padding: 10px;
}

.card_btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card_btm p{
    font-weight: 800;
}
.card_btm button{
    border-radius: 30px;
    border-color: burlywood;
    padding: 7px 10px;
    cursor: pointer;
}

.menu-head{
    text-align: center;
    margin-top: 10px;
    /* font-size: 20px; */
}
.category{
    margin-top: 10px;
    justify-content: space-around;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.category button{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(234, 218, 199);
    outline: none;

    
}
.search{
    display: flex;
    gap: 20px;
}
.filter_btns{
    gap: 10px;
    display: flex;
}
.category input{
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    padding-left: 10px;
}

@media (max-width:600px) {
    .category button{
        padding: 5px 9px;
        border-radius: 20px;
        cursor: pointer;
        background-color: rgb(234, 218, 199);
        outline: none;
    
        
    }
}