.food{
    display: flex;
    padding: 20px;
    flex-direction: column;
    height: 100vh;
    
}
.food-details{
    display: flex;
    height: fit-content;
    
    flex-direction: row;
}
.food-detail{
    width:50%
}

.food-image{
    width: 50%; 
    height: fit-content;
    display: flex;
    justify-content: center;
}
.food-image img{
    width: 70%;
    max-width: 900px;
    /* height: 60% ;
    max-height: 500px; */
}




.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 20px;
  }
  
  .accordion:hover, .accordion.active {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    
    background-color: white;
    overflow: hidden;
  }
  
  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }

  .ingre{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .rating,.tag,.prep{
    margin-top: 6px;
    margin-bottom: 3px;
  }

  .tags{
    margin-top: 10px;
    font-weight: bold;
  }
.box-main{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.box{
  width: 60px;
  color: #ccc;
  background-color:  rgb(49, 44, 44);
  padding: 8px 15px;
  text-align: center;
  border-radius: 30px;
}
  .roundbox{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #777;
    display: flex;
    text-align: center;
  }
td .time{
  margin-left: 20px;
}

  @media (max-width:600px) {
    .food-details{
      display: flex;
      height: fit-content;
      align-items: center;
      flex-direction: column;
  }
  }