.footer{
    background-color: rgb(49, 44, 44);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 250px;
    align-items: center;
}
.footer-text{
    cursor: auto !important;
}
.footer-div h3,.footer-div p{
    margin-top: 15px;
    
    
}
.footer-div p{
    font-weight: 100;
    cursor: pointer;
}
.social-icon{
    margin-right: 20px;
    cursor: pointer;
}