.banner{
    height: 500px;
    background-color:rgb(234, 218, 199);    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.content{
    width: 50%;
    margin-left: 10%;
}
.image{
    width: 50%;
   
    
}
.image img{
    height: 100%;
    width: 60%;
}